html, body {
    height: 100%;
    background:#a5a5a5;
    font-size:18px;
}

h1 {
    font-size:30px;
    color:#000;
    margin:0px 0px 30px 0px;
}

h2 {
    font-size:26px;
    color:#000;
    margin:0px 0px 20px 0px;
}

#main_section {
    background:#fff;
    min-width: 640px;
    width: 70%;
    max-width: 1260px;
    margin:0px auto;
    min-height: 100%;
    padding:40px 35px;
    text-align:center;

    box-sizing:border-box;

    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 10px 5px rgba(0,0,0,0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 10px 5px rgba(0,0,0,0);
}

table {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.s3_list table {
    width:100%;
}

.pagination-block {
    margin: 20px 0px;
}

.s3_list .empty {
    margin: 20px 0px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.s3_list th, .s3_list td {
    border: 1px solid #000;
    padding: 5px;
}

.s3_list th {
    text-align:center;
    font-weight:bold;
}

.s3_list .td_key {
    width:15%;
    text-align:center;
}
.s3_list .td_last_modified {
    width:25%;
    text-align:center;
}
.s3_list .td_eTag {
    width:20%;
}
.s3_list .td_eTag span {
    word-break: break-all;
}
.s3_list .td_size {
    width:10%;
    text-align:center;
}
.s3_list .td_owner {
    width:30%;
}
.s3_list .td_owner span {
    word-break: break-all;
}
.s3_list .td_storage_class {
    width:10%;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	box-sizing:border-box;
	height:33px;
}
.btn:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.btn:active {
	position:relative;
	top:1px;
}

.css-input {
     padding: 5px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 9px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     box-sizing:border-box;
     height:33px;
}
.css-input:focus {
     outline:none;
}
