<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main/index.html :: header">
</head>
<body>
    <section id="main_section">
        <h1>Список объектов</h1>

        <section class="s3_list">
            <table>
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Last Modified</th>
                    <th>eTag</th>
                    <th>Size</th>
                    <th>Owner</th>
                    <th>Storage Class</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s3obj : ${listS3}">
                    <td><span th:text="${s3obj.getKey()}"> key </span></td>
                    <td><span th:text="${s3obj.getLastModified()}"> lastModified </span></td>
                    <td><span th:text="${s3obj.getETag()}"> eTag </span></td>
                    <td><span th:text="${s3obj.getSize()}"> size </span></td>
                    <td>
                        <b>id: <span th:text="${s3obj.getOwner().getId()}"> owner id</span></b><br>
                        <span>name: <span th:text="${s3obj.getOwner().getDisplayName()}"> owner display name</span></span>
                    </td>
                    <td><span th:text="${s3obj.getStorageClass()}"> storageClass </span></td>
                </tr>
                </tbody>
            </table>

            <div class="empty" th:if="${listS3.empty}">
                <td colspan="2"> No s3 objects Available </td>
            </div>
        </section>
    </section>
    <div th:insert="main/index.html :: footer">
    </div>
</body>
</html>