<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main/index.html :: header">
</head>
<body>
    <section id="main_section">
        <h1>Список объектов</h1>

        <div class="total-count-block">
            Общее количество объектов: <span th:text="${totalCountElements}"></span>
        </div>

        <section class="s3_list">
            <div class="s3_list_elem" th:each="s3obj : ${listS3}">
                <div class="s3_list_elem_property">
                    <div class="s3_list_elem_property_name">Key:</div>
                    <div class="s3_list_elem_property_value">
                        <span th:text="${s3obj.getKey()}"> key </span>
                    </div>
                </div>

                <div class="s3_list_elem_property">
                    <div class="s3_list_elem_property_name">Last Modified:</div>
                    <div class="s3_list_elem_property_value">
                        <span th:text="${s3obj.getLastModified()}"> lastModified </span>
                    </div>
                </div>

                <div class="s3_list_elem_property">
                    <div class="s3_list_elem_property_name">eTag:</div>
                    <div class="s3_list_elem_property_value">
                        <span th:text="${s3obj.getETagUnescape()}"> eTag </span>
                    </div>
                </div>

                <div class="s3_list_elem_property">
                    <div class="s3_list_elem_property_name">Size:</div>
                    <div class="s3_list_elem_property_value">
                        <span th:text="${s3obj.getSize()}"> size </span>
                    </div>
                </div>

                <div class="s3_list_elem_property">
                    <div class="s3_list_elem_property_name">Owner:</div>
                    <div class="s3_list_elem_property_value">
                        <b>Id:</b> <span th:text="${s3obj.getOwner().getKey()}"> ownerEntity id</span><br>
                        <b>Name:</b> <span th:text="${s3obj.getOwner().getDisplayName()}"> ownerEntity display name</span>
                    </div>
                </div>

                <div class="s3_list_elem_property">
                    <div class="s3_list_elem_property_name">Storage class:</div>
                    <div class="s3_list_elem_property_value">
                        <span th:text="${s3obj.getStorageClass()}"> storageClass </span>
                    </div>
                </div>

                <div class="s3_list_elem_property">
                    <div class="s3_list_elem_property_name">Grant:</div>
                    <div class="s3_list_elem_property_value">
                        <span th:if="${s3obj.getGrants().empty}">Empty</span>
                        <div class="property_elem" th:each="grant : ${s3obj.getGrants()}">
                            <b>Key:</b> <span th:text="${grant.getKey()}"></span><br/>
                            <b>Permission:</b> <span th:text="${grant.getPermission()}"></span>
                        </div>
                    </div>
                </div>

                <div class="s3_list_elem_property">
                    <div class="s3_list_elem_property_name">Version:</div>
                    <div class="s3_list_elem_property_value">
                        <span th:if="${s3obj.getVersions().empty}">Empty</span>
                        <div class="property_elem" th:each="version : ${s3obj.getVersions()}">
                            <b>Version:</b> <span th:text="${version.getVersionPK().getVersion()}"></span><br/>
                            <b>Owner:</b> <span th:text="${version.getOwner().getKey()}"></span><br/>
                            <b>Latest:</b> <span th:text="${version.isLatest()}"></span><br/>
                            <b>Deleted:</b> <span th:text="${version.isDeleted()}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty" th:if="${listS3.empty}">
                No s3 objects Available
            </div>

            <div class="pagination-block" th:if="${totalPages > 0 && !listS3.empty}">
                <form class="service-pagination-form" action="" method="GET" autocomplete="off">
                    <label>
                        <span>Страница:</span>
                        <select name="page">
                            <option th:each="i: ${#numbers.sequence(0, totalPages-1)}" th:text="${i+1}" th:value="${i}" th:selected="${i==currentPage}"></option>
                        </select>
                        <span>из <span th:text="${totalPages}"></span></span>
                    </label>
                </form>
            </div>
        </section>
    </section>
    <div th:insert="main/index.html :: footer">
    </div>
</body>
</html>